<% @page_title = "Vecino | Alta" %>
<div class="Sign_Form">
  <h1>Alta</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p> Usuario:</br> <%= f.text_field :username%> </p>
    <p> Nombre:</br> <%= f.text_field :name%> </p>
    <p> Password:</br> <%= f.password_field :password%></p>
    <p> Confirma el Password:</br> <%= f.password_field :password_confirmation%> </p>
    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>